---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Homepage of Future" description=" I come here to show you my Skill-xd">
  <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">Hi there</h1>
</Layout>
